header {
  background-color: #31cc6f;
  text-align: center;
}

h2 {
  background-color: #d19868;
  color: #af4f66;
}

h3 {
  background-color: #dbba89;
  color: #495fd4;
}

.info {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}